<% record.questions.each do |q| %>
    <div class="border rounded-md bg-white p-2 my-2">
        <div class="added-content ">
            <p class="font-bold text-md"><%= q.content %></p>
            <% q.answers.each do |a| %>
                <div class="rounded-md bg-white ">
                    <p class="border rounded-md p-2   <%= " bg-green-200 font-bold" if a.correct %>">
                        <%= a.content %>
                    </p>
                   
                </div>
            <% end %>
        </div>
        <%= button_to "Supprimé", {action: 'destroy', exercice_id: q.exercice.id, id: q.id},
         method: 'delete', class: "border px-2 bg-gray-100 rounded-md" %>
    </div>
<% end %>
