<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Le Bac 2022 assuré
        <br class="hidden lg:inline-block">et sans préssion
      </h1>
      <p class="mb-8 leading-relaxed">Trouvez les exercices et corrigés des cahiers d'habilétés Math, Physique-Chimie, SVT, Philo, Français, Histoire-Géo, Anglais All/Esp.</p>
      <div class="flex justify-center">
        <%= link_to "S'Inscrire gratuitement", new_user_registration_path, class:"inline-flex text-white bg-blue-500
         border-0 py-2 px-1 focus:outline-none hover:bg-blue-600 rounded text-lg font-semibold no-underline" %>
        <%= link_to "Voir le Prix", "#", class:"hidden md:block md:ml-4 inline-flex text-gray-900 bg-gray-100 
        border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg hover:no-underline" %>
      </div>
        <%= link_to "Voir le Prix", "#", class:"md:hidden mt-4 text-gray-900 hover:no-underline decoration-dashed text-lg " %>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <%= image_tag("HomePage/lycee.jpg", size:"720x400") %>
    </div>
  </div>
</section>