<!-- component -->
<div class='flex items-center justify-center min-h-screen'>
 <section class="text-center mx-6 lg:w-2/3">
	<img class="m-auto w-24 lg:w-48" src="https://github.com/pharmawala/pharmawala.com/raw/main/logo.png" />
	<h1 class="mt-2 mb-1 text-2xl lg:text-3xl">Nous reviendrons bientôt!!</h1>
	<div>
		<p>
    Désolé pour le dérangement. Nous effectuons une maintenance en ce moment. <br>
    Vous pouvez toujours nous suivre sur
			<a class="text-blue-700 font-semibold hover:underline hover:decoration-wavy" href="https://twitter.com/lnclass">Twitter</a> pour plus de mises à jour.
		</p>
		<p class="mt-4">Team Lnclass Education</p>
	</div>
</section>
</div>