<header class="p-3 bg-blue-500 text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <span class="font-bold pl-20"><span class="bg-blue-500">Ln</span><span class= text-blue-500">class</span></span>
        </a>
      

        <div class="text-end">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Accueil</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Prix</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Mission</a></li>
  
          <%= link_to "Dashboard","dashboard-admin", class:"btn btn-outline-light me-2" %>
          <%= link_to 'Deconnecter', destroy_user_session_path, method: :delete, class:"btn btn-warning" %>
        </ul>
        </div>
      </div>
    </div>
  </header>