
<% @title="Léçons" %>

<%= render "home/shared/navbar" %> 
<main class="container-fluid">
  <div class="row align-items-md-stretch rounded-3">
    <!-- main feed -->
    <div class="col-md-3 py-5">
    <!-- feed material -->
      <%= render "home/shared/materials" %>
      <!-- Terms -->
      <div class="mt-4">
        <%= render "home/shared/terms" %>        
      </div>
    </div>
    <div class="col-md-8 py-5">
    <!-- feed course -->
      <%= render "home/shared/feeds" %>
    </div>
  </div>
</main>
